module Config.Database (
  databaseConnection,
  ormAdapter
  ) where

import System.Log.Logger

-- Your favorite HDBC driver
import Database.HDBC.ODBC
import qualified Turbinado.Database.ORM.Adapters.MySQL as M

import Turbinado.Environment.Types
----------------------------------------------------------------
-- Database connection
----------------------------------------------------------------
databaseConnection = Just $ connectPostgreSQL "host=localhost dbname=turbinado user=turbinado password=turbinado"

ormAdapter = M.ormAdapter
